<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>River Plate obtendrá la 5ta Copa Libertadores en 2022</h1>
    <h2>Nombre: {{nombre}}</h2>
    <h2>Apellido: {{apellido}}</h2> 
    <h2>Fecha: {{fecha}}</h2>   
    {%for anio in anios_campeon%}
    {%if anio == 1986 or anio == 1996%}
        <h3 style= color:red>Libertadores: {{anio}}</h3><br>
    {%else%}
        <h3 style="color:greenyellow">Libertadores: {{anio}}</h3><br>
    {%endif%}
    {%endfor%}
</body>
</html>